* {
    margin: 0px;
    padding: 0px;
}

/* WRAPPER */



/* NAV */

nav {
    display: flex;
    flex-direction: column;
}

.nav-items {
    margin: 5px 0px;
}

.button {
    background-color: #3c35ff;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
}

.button:hover {
    background-color: #252525;
}

.proj-button {
    background-color: white;
    padding: 10px 20px;
    color: #3c35ff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
}

.proj-button:hover {
    background-color: #252525;
}

/* HOME */

#home {
    margin: 0px auto;
    background-image: url("images/background.png");
    height: 80vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

#home-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    /* justify-content: space-evenly; */
}

#me {
    height: 150px;
    border-radius: 50%;
}

/* ABOUT */

#about {
    background-color: #3c35ff;
    padding: 20px;
    height: 80vh;
    color: white;
    font-size: 18pt;
}

#about-content {
    margin: auto;
    text-align: center;
    width: 65%;
}

#about-icons {
    width: 40%;
    margin: 20px auto 0px;
    display: flex;
    justify-content: space-around;
}

.about-icon {
    max-height: 50px;
}

/* SKILLS */

#skills {
    background-color: #252525;
}

#skills-content {
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    color: white;
}

#skills-content a {
    color: #3c35ff;
    text-decoration: none;
}

#skill-boxes {
    margin: 20px auto;
}

.skill-row {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

.skill-icon {
    height: 30px;
}

.skill-box {
    padding: 25px;
    width: 50%;
    /* outline: 1px solid white; */
    text-align: left;
    min-height: 250px;
    font-size: 16pt;
    color: white;
    background-image: linear-gradient(to bottom right, #1a1a1a, #383838);
}

.box-header {
    display: flex;
    align-items: center;
}

.box-header h3 {
    margin-left: 15px;
}

/* PROJECTS */

#projects {
    background-color: #3c35ff;
    padding: 20px;
    text-align: center;
    height: 80vh;
    color: white;
}

.project {
    width: 33%;
}

#projects-container {
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin: 10px auto 0px;
    /* outline: 1px solid white; */
    padding: 20px;
}


/* LINKS */

#links {
    background-color: #252525;
    padding: 50px;
    text-align: center;
}

#links-icons {
    display: flex;
    margin: 0px auto 25px;
    justify-content: space-around;
    width: 20%;
}

.links-icon {
    max-height: 25px;
}

#links p {
    font-size: 11pt;
    margin-bottom: 10px;
    color: #929292;
}