* {
    margin: 0px;
    padding: 0px;
}

/* WRAPPER */



/* NAV */

nav {
    display: flex;
    flex-direction: column;
}

.nav-items {
    margin: 5px 0px;
}


/* HOME */

/* #home {
    margin: 0px auto;
    background-image: url("images/background.png");
    height: 80vh;
} */

#home-content {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

#me {
    height: 150px;
    border-radius: 50%;
}

/* ABOUT */

#about {
    background-color: #3c35ff;
    padding: 20px;
}

#about-content {
    margin: auto;
    text-align: center;
}

#about-icons {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.about-icon {
    max-height: 60px;
}

/* SKILLS */

#skills {
    background-color: #252525;
}

#skills-content {
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}

#skill-boxes {
    margin: 20px auto;
}

.skill-row {
    display: flex;
    margin: auto;
}

.skill-icon {
    height: 30px;
}

.skill-box {
    padding: 25px;
    width: 45%;
    outline: 1px solid white;
    text-align: left;
}

.box-header {
    display: flex;
    align-items: center;
}

.box-header h3 {
    margin-left: 15px;
}

/* PROJECTS */


/* LINKS */